In [33]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from time import clock

def timer(f):
    def _f(*args):
        t0 = clock()
        f(*args)
        return clock() - t0
    return _f

In [6]:
empty_list = []
another_empty_list = list()
another_empty_lis t
type(another_empty_list)

[]

list

In [10]:
al = ['a','b','c','d',"e"]
al[4]
del al[4:]
al

'e'

['a', 'b', 'c', 'd']

In [15]:
al.insert(5,'aaa')
al

['aaa', 'aaa', 'a', 'b', 'c', 'aaa', 'd', 'bbb']

In [21]:
al.index('aaa')

0

In [22]:
'aaa' not in al

False

In [13]:
al.append('bbb')
al

['aaa', 'aaa', 'a', 'b', 'c', 'd', 'bbb']

In [14]:
bl = ['a', 'b', 'c']
cl = al+bl
cl

['aaa', 'aaa', 'a', 'b', 'c', 'd', 'bbb', 'a', 'b', 'c']

In [24]:
weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday']
last_day = weekdays.pop()
last_day
weekdays

'Friday'

['Monday', 'Tuesday', 'Wednesday', 'Thursday']

In [25]:
weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday']
popday = weekdays.pop(3)
popday
weekdays

'Thursday'

['Monday', 'Tuesday', 'Wednesday', 'Friday']

In [34]:
def delete_elem(x,index):
    del x[index]
    
x = [5] * 100000000
print(x[0])
print(x[99999])
print(len(x))

timer(delete_elem)(x,-1)
print(len(x))
timer(delete_elem)(x,0)
print(len(x))

5
5
100000000

D:\Applications\Anaconda\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

D:\Applications\Anaconda\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  # Remove the CWD from sys.path while we load stuff.

4.820000003746827e-05

99999999

0.17942149999998946

99999998

In [36]:
def insert_elem(x,index,v):
    x.insert(index,v)
x = [5] * 100000000
print(x[0])
print(x[99999])
print(len(x))

timer(insert_elem)(x,0,9)
print(len(x))
timer(insert_elem)(x,-1,9)
print(len(x))

5
5
100000000

D:\Applications\Anaconda\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

D:\Applications\Anaconda\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  # Remove the CWD from sys.path while we load stuff.

0.6285506999997779

100000001

2.6999996407539584e-06

100000002

Sort

In [39]:
nums = [1,4,5,2,3]
sorted_nums = sorted(nums)
print("nums = ",nums,"\nsorted_nums = ",sorted_nums)

nums =  [1, 4, 5, 2, 3]
sorted_nums =  [1, 2, 3, 4, 5]

In [40]:
nums.sort()
nums

[1, 2, 3, 4, 5]

In [42]:
nums.sort(reverse=True)
nums

[5, 4, 3, 2, 1]

In [43]:
obj_list = [1,3.14]
obj_list.sort()
obj_list

[1, 3.14]

In [45]:
sorted('qwertdgznmu128746')

['1',
 '2',
 '4',
 '6',
 '7',
 '8',
 'd',
 'e',
 'g',
 'm',
 'n',
 'q',
 'r',
 't',
 'u',
 'w',
 'z']

In [46]:
x = sorted('ACBDSZY')
y = ''.join(sorted('ACBDSZY'))
x
type(x)
y
type()

['A', 'B', 'C', 'D', 'S', 'Y', 'Z']

list

'ABCDSYZ'

str

Copy

In [48]:
a = [1,2,3]
b = a
print(a,b)

[1, 2, 3] [1, 2, 3]

In [49]:
a[0] = 2
print(a,b)

[2, 2, 3] [2, 2, 3]

In [50]:
a = [1,2,3]
b = a
c = a.copy()
d = a[:]
e = list(a)
print(a,b,c,d,e)

[1, 2, 3] [1, 2, 3] [1, 2, 3] [1, 2, 3] [1, 2, 3]

In [51]:
a[0] = 2
print(a,b,c,d,e)

[2, 2, 3] [2, 2, 3] [1, 2, 3] [1, 2, 3] [1, 2, 3]

## Tuple

### Create

In [52]:
empty_tuple = ()
empty_tuple

()

In [53]:
week_tuple = ('Monday','Tuesday')
week_tuple

('Monday', 'Tuesday')

In [54]:
people_tuple = ('Tom','Male',20)
name , gender , age = people_tuple
print("Name = ", name ,"\nGender = ", gender , "\nAge = ", age)

Name =  Tom
Gender =  Male
Age =  20

## exchange

In [56]:
a = 1
b = 2
a,b = b,a
print(a,b)

2 1

## Dictionary

In [57]:
empty_dict = {}
empty_dict

{}

In [73]:
pizza = {
    "size":"medium",
    "type":"pepperoni",
    "crust":"thick",
    "qty":1,
    "deliver":True,
    "a":"aaa"
}
pizza

{'size': 'medium',
 'type': 'pepperoni',
 'crust': 'thick',
 'qty': 1,
 'deliver': True,
 'a': 'aaa'}

In [74]:
pizza["type"]
pizza["deliver"]
print(pizza.get('topping'))

'pepperoni'

True

None

In [75]:
pizza.keys()
pizza.values()
pizza.items()

dict_keys(['size', 'type', 'crust', 'qty', 'deliver', 'a'])

dict_values(['medium', 'pepperoni', 'thick', 1, True, 'aaa'])

dict_items([('size', 'medium'), ('type', 'pepperoni'), ('crust', 'thick'), ('qty', 1), ('deliver', True), ('a', 'aaa')])

### Update

In [72]:
pizza

{'size': 'large',
 'type': 'pepperoni',
 'crust': 'thick',
 'qty': 1,
 'deliver': True,
 'a': 'aaa',
 'topping': ['cheese', 'mushroom']}

In [76]:
pizza["topping"] = ['cheese','mushroom']
pizza

{'size': 'medium',
 'type': 'pepperoni',
 'crust': 'thick',
 'qty': 1,
 'deliver': True,
 'a': 'aaa',
 'topping': ['cheese', 'mushroom']}

#### key唯一

In [77]:
pizza
pizza["size"] = "medium"
pizza["size"] = "large"
pizza

{'size': 'medium',
 'type': 'pepperoni',
 'crust': 'thick',
 'qty': 1,
 'deliver': True,
 'a': 'aaa',
 'topping': ['cheese', 'mushroom']}

{'size': 'large',
 'type': 'pepperoni',
 'crust': 'thick',
 'qty': 1,
 'deliver': True,
 'a': 'aaa',
 'topping': ['cheese', 'mushroom']}

### Remove

In [78]:
del pizza["topping"]
pizza

{'size': 'large',
 'type': 'pepperoni',
 'crust': 'thick',
 'qty': 1,
 'deliver': True,
 'a': 'aaa'}

In [79]:
pizza.clear()
pizza

{}

## Set  

只有key

In [81]:
empty_set = set()
empty_set

set()

In [84]:
even_set = {1,2,3,4,6,7,8}
even_set

{1, 2, 3, 4, 6, 7, 8}

 ## zip

In [85]:
s1 = 'abcdefg'
s2 = 'hijklmn'
list(zip(s1,s2))

[('a', 'h'),
 ('b', 'i'),
 ('c', 'j'),
 ('d', 'k'),
 ('e', 'l'),
 ('f', 'm'),
 ('g', 'n')]

In [88]:
d = list(zip(s1,s2))
d

[('a', 'h'),
 ('b', 'i'),
 ('c', 'j'),
 ('d', 'k'),
 ('e', 'l'),
 ('f', 'm'),
 ('g', 'n')]

In [89]:
s3,s4 = zip(*d)
print(list(s3))
print(list(s4))

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['h', 'i', 'j', 'k', 'l', 'm', 'n']

## call by reference

In [96]:
try_result = []
def try_func(arg,result):
    print("inside before result is labeled {},value {}".format(id(result),result))
    result.append(arg)
    print("inside after result is labeled {},value {}".format(id(result),result))
    print("inside try_result is labeled {},value {}".format(id(try_result),try_result))

In [97]:
print("before try_result is labeled {},value {}".format(id(try_result),try_result))
try_func('a',try_result)
print("after try_result is labeled {},value {}".format(id(try_result),try_result))

before try_result is labeled 2070888255176,value []
inside before result is labeled 2070888255176,value []
inside after result is labeled 2070888255176,value ['a']
inside try_result is labeled 2070888255176,value ['a']
after try_result is labeled 2070888255176,value ['a']

## pass by value

In [100]:
imu_number = 10
def updatenumber(number):
    print("inside number is labeled {},value {}".format(id(number),number))
    print("inside imu_number is labeled {},value {}".format(id(imu_number),imu_number))
    number = 20
    print("inside number is {},outside imu_number is {}".format(id(number),imu_number))

In [101]:
print("before imu_number is labeled {},value {}".format(id(imu_number),imu_number))
updatenumber(imu_number)
print("after imu_number is labeled {},value {}".format(id(imu_number),imu_number))
ium_umber

before imu_number is labeled 140707881530480,value 10
inside number is labeled 140707881530480,value 10
inside imu_number is labeled 140707881530480,value 10
inside number is 140707881530800,outside imu_number is 10
after imu_number is labeled 140707881530480,value 10

NameError: name 'ium_umber' is not defined

range

In [104]:
print("打印(3-1)^2,(6-1)^2,……值小于500")
num_list = [i*i for i in range(0,int(500**0.5)) if i%3 == 2]
num_list

打印(3-1)^2,(6-1)^2,……值小于500

[4, 25, 64, 121, 196, 289, 400]

In [107]:
for i in range(5):
    for j in range(i+1):
        print("x",end = "")
    print("")

x
xx
xxx
xxxx
xxxxx

## *

In [108]:
coordinate = ['x','y','z']
value = [3,4,5,0,9]
result = zip(coordinate,value)
resultList = list(result)
print(resultList)

c,v = zip(*resultList)
print('c = ',c)
print('v = ',v)

[('x', 3), ('y', 4), ('z', 5)]
c =  ('x', 'y', 'z')
v =  (3, 4, 5)

In [109]:
def print_args(*args):
    print('Positional args:',args)

    
print_args(1,2,3,'hello')

Positional args: (1, 2, 3, 'hello')

In [110]:
def print_kwargs(**kwargs):
    print('Keyword args:',kwargs)

In [111]:
print_kwargs(first = 1,second = 2)

Keyword args: {'first': 1, 'second': 2}

In [ ]:
for i in range(10):